@{
    var exceptionMessage = ViewBag.ExceptionMessage;
}

@using (Html.BeginForm("Login", "User", FormMethod.Post))
{

    <div class="mb-3">
        <label for="UserName" class="form-label">Username</label>
        <input name="username" type="text" class="form-control" id="UserName" aria-describedby="emailHelp">
    </div>

    <div class="mb-3">
        <label for="Password" class="form-label">Password</label>
        <input type="password" name="password" class="form-control" id="Password">
    </div>

    @if (exceptionMessage is not null)
    {
        <p class="text-danger">@exceptionMessage</p>
    }

    <button type="submit" class="btn btn-primary">Submit</button>
}